## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficia ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN','NAME','SPECIAL_CONSIDERATIONS','STATUS'], inplace=True)

#display (application_df)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 528
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classifications_cleaned = classification_types.loc[classification_types > 1]
classifications_cleaned

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 1500
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies=pd.get_dummies(application_df).astype(int)

dummies.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [241]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

iput_features_total = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2= 8
hidden_nodes_layer3= 6

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=40))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# add a THIRD LAYER
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_56"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_211 (Dense)               │ (None, 10)             │           410 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_212 (Dense)               │ (None, 8)              │            88 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_213 (Dense)               │ (None, 6)              │            54 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_214 (Dense)               │ (None, 1)              │             7 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 559 (2.18 KB)

 Trainable params: 559 (2.18 KB)

 Non-trainable params: 0 (0.00 B)

In [242]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [243]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

Epoch 1/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 831us/step - accuracy: 0.6059 - loss: 0.6684
Epoch 2/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 831us/step - accuracy: 0.7280 - loss: 0.5706
Epoch 3/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 811us/step - accuracy: 0.7300 - loss: 0.5618
Epoch 4/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 909us/step - accuracy: 0.7333 - loss: 0.5555
Epoch 5/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7376 - loss: 0.5505
Epoch 6/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.7349 - loss: 0.5554
Epoch 7/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.7250 - loss: 0.5578
Epoch 8/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 893us/step - accuracy: 0.7321 - loss: 0.5535
Epoch 9/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 892us/step - accuracy: 0.7304 - loss: 0.5534
Epoch 10/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7301 - loss: 0.5531
Epoch 11/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 982us/step - accuracy: 0.7347 - loss: 0.5513
Epoch 12/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 892us/step - accuracy: 0.7300 - loss: 0.5544
Epoch 13/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 826us/step - accuracy: 0.7370 - loss: 0.5472
Epoch 14/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7316 - loss: 0.5515
Epoch 15/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7366 - loss: 0.5467
Epoch 16/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 819us/step - accuracy: 0.7344 - loss: 0.5479
Epoch 17/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 830us/step - accuracy: 0.7329 - loss: 0.5479
Epoch 18/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7371 - loss: 0.5459
Epoch 19/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7346 - loss: 0.5464
Epoch 20/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 813us/step - accuracy: 0.7337 - loss: 0.5488
Epoch 21/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 838us/step - accuracy: 0.7324 - loss: 0.5504
Epoch 22/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 789us/step - accuracy: 0.7363 - loss: 0.5457
Epoch 23/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 845us/step - accuracy: 0.7301 - loss: 0.5511
Epoch 24/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7314 - loss: 0.5477
Epoch 25/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.7300 - loss: 0.5531
Epoch 26/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - accuracy: 0.7309 - loss: 0.5503
Epoch 27/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 844us/step - accuracy: 0.7344 - loss: 0.5455
Epoch 28/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.7305 - loss: 0.5490
Epoch 29/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.7306 - loss: 0.5491
Epoch 30/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 901us/step - accuracy: 0.7327 - loss: 0.5468

In [244]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 881us/step - accuracy: 0.7314 - loss: 0.5532
Loss: 0.5531868934631348, Accuracy: 0.7314285635948181

In [245]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 670us/step - accuracy: 0.7314 - loss: 0.5532
Loss: 0.5531868934631348, Accuracy: 0.7314285635948181

In [249]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("H5/AlphabetSoupCharity_optimized.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.